body{

background-color: white;
font-size: 25px;
border-style: double;
border-width: thick;
}


.ally{
	width: 1200px;
	color: green;
	min-height: 100px;


}


h1{
	color:black;
	text-align:center;
}
.slogan{
	/*border:2px;
	border-color: black;
     text-align: left;
     border-style: dotted;*/
     width: 800px;
     margin: 0 auto;

}
p{
	font-size:20;
	font-family: arial
}
.imgs{
	width:1200px;
}


.imgs1{
	width: 25%;
	padding: 5px;
	float: left;
}
.imgs2{
	width:25% ;
	padding: 5px;
	float: right;
}
.imgs4{
	width: 50%;
	padding: 5px;
	float: right;
}






