body{
	background-image:url(https://img.wallpapersafari.com/desktop/1680/1050/86/74/GP9N1Q.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;

	/*background-color: teal;*/
	

     color: #222;
     font-family: Arial,helvetica, san-serif;
}

header{
	background-color:#dfede3;
	font-color:white;
}
header nav ul a:hover {
	color:red;
} 

header nav ul{
max-width: 1200px;
margin: 0 auto;
overflow: auto;
}

header nav  li{
	list-style: none;
	float:left;
}
header nav ul li a{
	color: black;
	padding: 20px;
	float:left;
	font-size: 18px;
	text-decoration: none;
}
.container{
	/*max-width:1200px ;
	min-height:200px;*/
	padding: 40px;
	/*margin:0 auto ;*/
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
    text-align: center;
	background-color:#ccc;
}
header nav ul li a:active{
	color:yellow;
}
header nav ul{
	margin: 0px;
	padding: 0px;

}
img{
	width:200px;
	height:200px;
	float:left;
	padding: 10px;
	margin-top: 20px;
}
h1,h3,h4{

 font-style:normal;
 font-size: 20px;
 text-align: center;
 padding: 20px;

}
h2{
	text-align: center;
	padding: 50px;
	font-size: 50px;
}
.nav{
	width:500px;
	height: 500px;
	
    
}
p{
	text-align: center;
	font-size:20px;
}
